input:disabled + label {
  color: #dfdfdf;
}

.table {
  width: 100%;
  height: 200px;
  border-top: 1px solid #dfdfdf;
  border-collapse: collapse;
}
.th {
  width: 35%;
  color: #6f6f6f;
}
.th,
.td {
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  padding: 10px 10px 10px 5px;
  text-align: left;
}
.th:first-child,
.td:first-child {
  border-left: none;
}
